* {
    box-sizing: border-box;
}

body{
	color: #777777;
    background-image: url(../images/gravel.png);
    background-repeat: repeat;
    border-color: whitesmoke;
	font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

/************
    navbar
************/    
.navbar {
    background-color:white;
    width: 100%;
    height: 100px;
    border-bottom:2px solid #cccccc;
}

#name {
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    margin-left: 4.4%;
    height: 100px;
    width: 300px;
    position: relative;
    bottom: 1px;
    line-height: 90px;
    text-align: center;
    color: white;
    background-color:#4aaaaf;
    background-size: 100px 25px;
}

#name:hover{
    color: #777777;
}
#van {
    margin-right: 5.6%;
}

#contact {
    margin-left:8px;
    }

#portfolio, #about {
    padding-right:12px;
    margin-left:8px;
    border-right:1px solid #cccccc;

}

#van a:hover{
    color:#15beb6;
}

/****************
    container
****************/

.container {
    background-color: white;
    border: 2px solid #dddddd;
    padding: 30px;
    margin-top: 30px;
}


h1 {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 30px;
    border-bottom: 3px solid #ddd;
    padding-left: 25px;
    padding-bottom: 20px;
}

/*************
    footer
*************/    
#footer {
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
}

#copyright{
   padding-top:20px;
   padding-left: 580px;
}

html, body {
    height: 100%;
    margin: 0;
  }

#push {
    min-height: 40%;
  }
/*****************
    index.html
******************/

#photo {
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.paragraph {
    margin-left: 25px;
    margin-right: 25px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.links {
    margin-left: 25px;
}

/******************
    contact.html
*******************/

.form-control:focus {
    background-color: #bdecea;
  }

#sub {
    background-color: #4aaaa5;
    border: 1px solid #4aaaa5;
}

#sub:hover {
    background-color: #074d49;
}

/********************
    portfolio.html
*********************/

.image-thumbnail {
    width: 95%;
    height: 85%;
}

.tiger {

    background-color: #4aaaa5;
    font-family:'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
    text-align: center;
    width: 87.2489982347598324759823475938475923475982376082374698327469837249587239485783264%;
    height: 60px; 
    padding-top: 16px; 
	position: absolute;
	top: -80px;
}

.tiger:hover, .image-thumbnail:hover{
    color:#777777;
    cursor: pointer;
    background-color: #074d49;
    opacity: 0.5;
}